.container {
     display: flex;
     gap: 10px;
}

.textContainer {
     flex: 1;
     display: flex;
     flex-direction: column;
     gap: 50px;
}

.imgContainer {
     flex: 1;
     position: relative;
     display: flex;

}

.title {
     font-weight: bold;
     font-size: 35px;
}

.subTitle {
     color: var(--btn);
}

.description {
     font-size: 18px;
     font-weight: 300;
}

.boxes {
     display: flex;
     justify-content: space-between;
     align-items: center;

}

.box {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.box h1 {
     font-size: 20px;
     font-weight: bold;
     color: var(--btn)
}
.img{
     object-fit: contain;
}
@media(max-width:768px){
     .container{
         flex-direction: column;
         text-align: center;
     }
     .boxes{
          flex-direction: column;
          gap:50px;
          
     }
 }