.container{
    display: flex;
    gap:50px;
    align-items: center;
    
   
}
.title{
    color: gray;
    font-weight: bold;
}
.username{
    font-weight: 500;
}
.imgContainer{
    height: 50px;
    width: 50px;
   position: relative;
}
.img{
    border-radius: 50%;
    object-fit: cover;
}
.user{
    display: flex;
    flex-direction: column;
}